
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

.main {
  flex: auto;
  background-color: #ccc;
  
  overflow: overlay;
  overflow-x: hidden;
  background: linear-gradient(#fff 30%, rgba(255,255,255,0)),linear-gradient(rgba(255,255,255,0), #fff 70%) 0 100%,radial-gradient(farthest-side at 50% 0, rgba(43,43,43,0.25),rgba(43,43,43,0)),radial-gradient(farthest-side at 50% 100%, rgba(43,43,43,0.2),rgba(43,43,43,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

